/* Global Styles */
label {
  display: block;
  margin-top: 10px;
}

/* Form Styles */
.form-group {
  margin-bottom: 20px;
  margin-right: 20px;
  color: black;
  font-size: large;
}

label {
  display: block;
  margin-bottom: 8px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.invalid-feedback {
  color: red;
  font-size: 14px;
}

/* Button Styles */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:disabled {
  background-color: #b3c0c8;
  cursor: not-allowed;
}

/* Spinner Styles */
.spinner-border {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border: 0.2em solid currentColor;
  border-right: 0.2em solid transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

/* Alert Styles */
.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 10px;
  z-index: 1000;
}

/* Navbar Styles */
.navbar {
  display: flex;
  background-color: #0e1550;
  padding: 0.7%;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: gold;
  font-size: 1.5em;
  text-decoration: none;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-item {
  margin-right: 10px;
  list-style: none;
  font-size: 1.3em;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

/* Navbar Conditional Rendering Styles */
.navbar-nav.ml-auto {
  display: flex;
  align-items: center;
}

/* Navbar Profile and Logout Links */
.nav-item a.nav-link {
  margin-right: 10px;
}

/* Container Styles */
.container {
  margin-top: 20px;
}

/* Card Styles */
.card {
  height: auto;
  background: #00000000;
  padding: 20px 25px 30px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

/* Profile Image Styles */
.profile-img-card {
  width: 100%;
  height: 100%;
  margin: 24px auto;
  display: block;
  border-radius: 50%;
}

/* Table Card Styles */
.table-card-container {
  display: flex;
  flex-direction: column;
  height: 6em;
  width: 14em;
  background: #00000000;
  padding: 0.5em;
  margin: 0.5em;
  box-shadow: -2px 2px 8px rgb(0 0 0);
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.table-card-container:hover,
.table-card-container:active {
  transform: scale(1.3);
}

.table-card-header {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  font-weight: bold;
}

.table-card-title {
  margin-right: 1em;
  font-family: 'Courier New', Courier, monospace;
}

.table-card-status {
  color: #ffffff;
  padding: 0.2em 0.2em;
  border-radius: 6px;
  box-shadow: 0px 0px 4px rgb(0 0 0);
}

/* Tables Container Styles */
.tables-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  margin: 1em;
}

.tables-scroll-container {
  overflow: auto;
  max-height: 100vh;
}

/* Table Status Styles */
.free {
  background-color: #2ea461;
}

.occupied {
  background-color: #a42e2e;
}

.reserved {
  background-color: #d8d81e;
}

/* Modal Overlay Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.modal-overlay.open {
  opacity: 1;
  visibility: visible;
}

/* Modal Content Styles */
.modal-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 400px;
  max-width: 90%;
  text-align: center;
}

/* Modal Invoice Header Styles */
.invoice-header {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

/* Modal Status Options Styles */
.status-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

/* Modal Status Button Styles */
.status-btn {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Modal Active Status Button Styles */
.status-btn.active,
.status-btn:active {
  transform: scale(0.95);
}

/* Modal Invoice Details Styles */
.invoice-details {
  margin-bottom: 20px;
}

/* Modal Invoice Item Styles */
.invoice-details .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Modal Invoice Total Styles */
.invoice-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

/* Modal Primary Button Styles */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Modal Disabled Primary Button Styles */
.btn-primary:disabled {
  background-color: #b3c0c8;
  cursor: not-allowed;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown select styles */
.dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  padding: 10px;
  font-size: 1em;
  border: none; /* Remove border */
  background-color: transparent; /* Make background transparent */
  cursor: pointer;
  width: 150px;
  transition: color 0.3s; /* Add transition for color change */
  color: #ffffff; /* Default text color */
}

/* Hover effect on the dropdown */
.dropdown select:hover {
  color: #555; /* Change text color on hover */
}

/* Arrow icon for the dropdown */
.dropdown::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Styling the options */
.dropdown option {
  padding: 10px;
}


/* Removing default arrow icon in Firefox */
.dropdown select::-ms-expand {
  display: none;
}
/* ReservationForm CSS */
.reservation-form {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block; /* Keeps the form in the same line */
  position: relative;
}

.reservation-form:hover {
  background-color: #f8f8f8;
}

.reservation-form form {
  display: flex;
  flex-direction: column;
}

.reservation-form label {
  margin-bottom: 10px;
}

.reservation-form input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 100%; /* Makes the input full width */
}

/* Style for the Save button */
.reservation-form button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Style for displaying data */
.reservation-form div {
  margin-top: 10px;
}

.reservation-form div p {
  margin: 5px 0;
}

.reservation-form div strong {
  margin-right: 5px;
}

